<ion-header>

  <ion-navbar>
    <ion-title>Meus Dados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="isDoador">
    <ion-card>
      <ion-card-content>
          <ion-item-group>
            <ion-item-divider color="secondary">
              DOADOR
            </ion-item-divider>
            <ion-item>{{doador.nome}}</ion-item>
            <ion-item>{{doador.email}}</ion-item>
          </ion-item-group>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-item-group>
            <button ion-button full (click)="editarDados()" color="secondary">Editar Dados</button>
          </ion-item-group>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-item-group>
            <button ion-button full (click)="removerDoador()" color="danger">Remover Doador</button>
          </ion-item-group>
        </ion-card-content>
      </ion-card>
  </div>
  <div *ngIf="!isDoador">
      oioioi
  </div>
</ion-content>
